.animation {
  width: 500px;
  height: 150px;
  z-index: 999;
  position: absolute;
  background-image: url(../images/landingframesupdated_sm_copy.png);
  margin-left: 5%;
  background-color: white;
  background-repeat: no-repeat;
  background-size: 1500px;
  animation: ani-move 5s steps(27) infinite; }

@keyframes ani-move {
  from {
    background-position: 0; }
  to {
    background-position: -500px 0; } }
