.animation_wrapper {
  width: 220px;
  height: 650px;
  z-index: 999;
  background-color: none;
  position: absolute;
  overflow: hidden;
  margin: auto;
  top: 200px;
  left: 16.9%;
  border-top-right-radius: 250px; }

.animation {
  width: 3600%;
  height: 100%;
  z-index: 999;
  position: relative;
  left: 50px;
  top: 0;
  background-image: url(../images/landing-alien.png);
  margin-left: 5%;
  background-repeat: no-repeat;
  background-size: 8020px;
  animation: ani-move 3s steps(35);
  animation-fill-mode: forwards; }

@keyframes ani-move {
  from {
    transform: translateX(-2%); }
  to {
    transform: translateX(-97.22222%); } }
