.animation_wrapper {
  width: 150px;
  height: 450px;
  z-index: 999;
  background-color: none;
  position: absolute;
  overflow: hidden;
  margin: auto;
  top: 250px;
  left: 17.5%;
  border-top-right-radius: 250px; }

.animation {
  width: 3600%;
  height: 100%;
  z-index: 999;
  position: relative;
  left: 50px;
  top: 0;
  background-image: url(../images/anime2.png);
  margin-left: 5%;
  background-repeat: no-repeat;
  background-size: 10000px;
  animation: ani-move 2s steps(35) infinite;
  animation-fill-mode: forwards; }

@keyframes ani-move {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(-97.22222%); } }
