.animation_wrapper {
    width: 300px;
    height: 950px;
    z-index: 999;
    background-color: none;
    position: absolute;
    overflow: hidden;
    margin: auto;
    top: -14.6%;
    left: 18.4%;
    border-top-right-radius: 250px;
    border-bottom-left-radius: px;
    }
  
  .animation {
    width: 3600%;
    height: 100%;
    z-index: 999;
    position: relative;
    left: 0;
    top: 0;
    background-image: url(../images/landingframes2.png);
    margin-left: 5%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 299px;
    animation: ani-move 2.5s steps(35);
    animation-delay: 1s;
    animation-fill-mode: forwards;
    }
  
  @keyframes ani-move {
    from {
      transform: translateX(0); }
    to {
      transform: translateX(-97.22222%); } }
  